body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Work Sans', sans-serif;
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 30px;
  font-weight: 700;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ccfff7;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

#reviews{
  text-align: left;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-link:hover {
  color: #ff4c68 !important;
}

.navbar-brand:hover {
  color: #ff4c68 !important;
}

.navbar-brand img:hover {
  filter: none !important;
}


.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-dark .navbar-brand{
  color: #000000;
}
.navbar-dark .navbar-nav .nav-link{
  color: #000000;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ccfff7;
  color: #000000;
  /* color: #fff; */
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 40%;
  /* transform: rotate(25deg); */
  /* position: absolute; */
  right: 60%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#lanka-pic {
  width: 70%;
  border-radius: 25px;
}

#asiri-content {
  display: flex;
  justify-content: space-between;
}

#lanka-content {
  display: flex;
  justify-content: space-between;
}

#asiri-pic {
  width: 70%;
  border-radius: 25px;
}


.reviews{
  text-align: right;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card{
  border-radius: 25px;
}



/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
